@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

div.flex_wrap {
    flex-wrap: wrap;
}

div.flex_no_wrap {
    flex-wrap: nowrap;
}

div.flex_wrap_reverse {
    flex-wrap: wrap-reverse;
}

div.container {
    background-color: black;
    display: flex;
    width: 500px;
    margin: auto;
}

div.item {
    margin: 5px;
    padding: 5px;
    flex: 1;
    color: white;
    background-color: darkblue;
    border: 1px solid black;
}