@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

div.flex{
    display: flex;
}

div.flex_1{
    flex: 1;
}

div.wrap {
    flex-wrap: wrap;
    /*justify-content: space-between;*/
}

div.container {
    padding: 8px;
    margin: auto;
    width: 500px;
}

div.item {
    background-color: darkred;
    margin: 2px;
    padding: 2px;
    text-align: center;
    font-size: 22px;
    color: white;
    border: 1px solid black;
}