*{
    margin: 0px;
    padding: 0px;
}

div.lateral{
    display: inline-flex;
    background-color: black;
    color: white;
    padding: 10px;

}

footer {
    padding: 10px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: darkblue;
    position: absolute;
}

footer > p {
    color: white;
    text-align: center;
}